<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    
    </head>
    <form action="/register" method="post">
    <br>
        <label for="nombreApellido">nombre y apellido:</label>
    <input type="text"name="nombreApellido">
    </br>   
    <br> 
    <label for="nombreDeUsuario">nombre y apellido:</label>
    <input type="text"name="nombreDeUsuario">
    </br>  
    <br> 
    <label for="fechaDeNacimiento">nombre y apellido:</label>
    <input type="text"name="fechaDeNacimiento">
    </br>
    <br>
    <label for="domicilio">nombre y apellido:</label>
    <input type="text"name="domicilio">
    </br>
    <br>
    <label for="perfilDeUsuario">nombre y apellido:</label>
    <input type="text"name="perfilDeUsuario">
    </br>
    <br>
    <label>Comprar</label>
    <input type="radio" name="comprar">
    </br>
    <br>
    <label>Vender</label>
    <input type="radio" name="vender">
    </br>
    <br>
    <label>Categoria De Interes</label>
    
    <input type="text"name="perfilDeUsuario">
        <select name="categoria" class="control">
            <option value="Electro">Electro</option>
            <option value="Moda">Moda</option>
            <option value="Hogar">Hogar</option>
            <option value="Jugueteria">Jugueteria</option>
            <option value="VidaSana">Vida Sana</option>
        </select>
    <br>   
    <label for="foroDeUsuario">Foro de Usuario</label>
    <input type="text"name="foroDeUsuario"> 
    </br>
    <br>
    <label for="contraseña">Contraseña</label>
    <input type="password"name="contraseña">  
    </br>
    <br>
    <label for="confirmarContraseña">Confirmar Contraseña</label>
    <input type="password"name="confirmarContraseña">  
    </br>
    <br>
    <button type="reset">Borrar</button>
    <button type="submit">Enviar</button>
    </br>

</form>
    
</html>