<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>

            <p class="copy-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>

        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>

    <form action="/register" method="post" class="create-form">
        <br>
        <label">Registro de usuario</label>
            </br>
            <br>
            <label for="nombreApellido">nombre y apellido:</label>
            <input type="text" name="nombreApellido">
            </br>
            <br>
            <label for="nombreDeUsuario">nombre y apellido:</label>
            <input type="text" name="nombreDeUsuario">
            </br>
            <br>
            <label for="fechaDeNacimiento">nombre y apellido:</label>
            <input type="text" name="fechaDeNacimiento">
            </br>
            <br>
            <label for="domicilio">nombre y apellido:</label>
            <input type="text" name="domicilio">
            </br>
            <br>
            <label for="perfilDeUsuario">nombre y apellido:</label>
            <input type="text" name="perfilDeUsuario">
            </br>
            <br>
            <label>Perfil de Usuario</label>

            <br>
            <label>Comprar</label>
            <input type="radio" name="comprar">
            <label>Vender</label>
            <input type="radio" name="vender">
            </br>
            <br>
            <label>Categoria De Interes</label>

            <br>
            <label>Electro</label>
            <input type="checkbox" name="electro">

            <br>
            <label>Moda</label>
            <input type="checkbox" name="moda">

            <br>
            <label>Hogar</label>
            <input type="checkbox" name="hogar">

            <br>
            <label>Jugueteria</label>
            <input type="checkbox" name="jugueteria">

            <br>
            <label>Vida Sana</label>
            <input type="checkbox" name="vidaSana">
            </br>
            <br>
            <label for="foroDeUsuario">Foto de Usuario</label>
            <input type="file" name="fotoDeUsuario">
            </br>
            <br>
            <label for="contraseña">Contraseña</label>
            <input type="password" name="contraseña">
            </br>
            <br>
            <label for="confirmarContraseña">Confirmar Contraseña</label>
            <input type="password" name="confirmarContraseña">
            </br>
            <br>
            <button type="reset">Borrar</button>
            <button type="submit">Enviar</button>
            </br>

    </form>

    <footer>
        <div class="iconoFoder">
            <i class="fa-solid fa-credit-card"></i>
        </div>
        <div>
            <h4></i>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="iconoFoder">
            <i class="fa-solid fa-gift"></i>
        </div>
        <div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="iconoFoder">
            <i class="fa-solid fa-user-shield"></i>
        </div>
        <div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
        <div>
            <p class="pieDePagina">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>

</body>

</html>